# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.egg-info/
*.egg
dist/
build/
.eggs/
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
*.whl
*.tar.gz
